*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   scroll-behavior: smooth;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
ul li{list-style: none;}

/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./assets/fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.allwrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background: url(./assets/img/up.jpg) no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header {
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 0 10px;
}

.header__container {
  max-width: 1200px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 2;
  justify-content: space-between;
  margin-left: -2.5em;
}

.header__navigation_item {
 margin-right: 3em;
}

.header__navigation_item:last-child {
  margin-right: 0;
}

.logotype {
  padding-bottom: 5px;
}

.navigation-link {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.navigation-link:hover {
  color: #0D606F;;
  transition: all 1s ease;
}

button {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  width: 228px;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
  transition: 1s ease;
}

button:hover {
  box-shadow: none;
  transition: 1s ease;
}

.button__login {
  width: 103px;
  height: 41px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 21px;
}

.button__login:hover{
  transform:scale(0.9);
}

/*section preview styles*/
.preview {
  max-width: 1440px;
  position: relative;
}

.preview__plan { 
  max-width: 62%;
  position: relative;
  margin-left: 8.3%; /*120px;*/
  margin-top: 2%; /*32px;*/
}

.preview__plan-title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview__plan_text{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 100%; /*723px;*/
  height: 24px;
  padding-top: 4%; /*32px;*/
  margin-bottom: 8%; /*70px;*/
}

.plan_search {
  position: relative;
  width: 100%; /*892px;*/
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.plan_search_button{
  position: absolute;
  top: 18px;
  right: 18px;
}
.plan_search_button:hover {
  transform:scale(0.9);
}

.plan_search_text {
  background-color: transparent;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  margin-top: 3.5%; /*32px;*/
  margin-bottom: 5%; /* 41px;*/
  margin-left: 5%; /* 41px;*/
  margin-right: 7%; /*66px;*/
  min-width: 60%;
}

.plan_search_text::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

/*section steps styles*/
.steps {
  max-width: 1440px;
  max-height: 424px;
  margin-top: 17.5%;
  padding: 6% 9% 7% 9%;/*49px 132px 97px 131px;*/
}

.steps__container {
  width: 100%; /*1177px;*/
  margin: 0 auto;
}

h2 {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  text-transform: uppercase;
}
 
.steps__container-icons {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  align-content: center;
}

.icon-item:nth-child(2){
  padding-left: 6%; /*74px;*/
}

.icon-item__text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  text-align: center;
}

 /*section destinations styles*/
.destinations {
  width: 175%; /*2520px;*/
  height: 1042px;
  position: relative;
  left: -37.5%;/* -540px;*/
  margin-bottom: 50px;
}

.destinations__container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.destinations__button {
  margin-left: 42%;/* 605px;*/
  padding-left: 3px;
}

.destinations__button-decor {
  background-image: url(./assets/icons/bi_arrow-right.svg);
  background-position: 33px 9px;
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.destinations__button-decor:hover, .stories__button-decor:hover{
  transform:scale(0.9);
}

.destinations__container-title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.destinations__slider {
  width: 175%; /*2520px;*/
  height: 800px;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
  left:-37.5%;/* -540px;*/
  display: flex;
  flex-direction: row;
}

.slider-image-box {
  position: relative;
}

.slider-image-title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  left: 15px;
  text-transform: uppercase;
}

.slider-image {
  /*background: url(./assets), #FFFFFF;*/
  border-radius: 16px;
  margin-right: 60px;
  display: block;
}

.slider-image:last-child {
  margin-right: 0;
}

.slider__checker {
  height: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  max-width: 80px;
}

.checker-1, .checker-2, .checker-3 {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}

.checker-2 {
  background: rgba(242, 120, 92, 1);
}

/*section stories styles*/
.stories-bg {
   background: /*linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), */url(./assets/img/down.jpg) no-repeat;
   background-position: top left;
   background-size: cover;
 }

.stories__container {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 40px 120px;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__container-title {
  margin-top: 80px;
  margin-bottom: 40px;
}

.stories-items {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.stories-items__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
}

.stories-items__title {
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 24px;
}


.stories-items__img {
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  max-width: 400px;
  max-height: 250px;
  margin-right: 15px;
}

.more, .more:visited {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-weight: bold;
  color: #0D606F;
}

.more:hover {
  color: #F2785C;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-weight: bold;
}

.stories__button {
  padding-top: 10px;
  margin: 0 auto;
  padding-left: 5px;
}

.stories__button-decor {
  background-image: url(./assets/icons/bi_arrow-right.svg);
  background-position: 33px 9px;
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

/*footer style*/

.footer {
  min-height: 61px;
  position: relative;
  z-index: 2;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%; /*729px;*/
  position: relative;
}

.footer__container_text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 15px;
  margin-left: 41%;
}

.icon__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  margin-right: 120px;
}

.icon__list-element {
 margin-right: 20px;
}

.icon__list-element:last-child {
  margin-right: 0;
}