/*  reset styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
ul li{list-style: none;}

h1,h2,h3,h4,h5,h6{font-size:inherit;}


/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./assets/fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.allwrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  background: url(./assets/img/up.jpg) no-repeat, url(./assets/img/down.jpg) no-repeat bottom left;
  position: relative;
  z-index: -1;
}

.content {
  padding-bottom: 61px;
  min-height: 100%;
}

/*header style start*/
.header__container {
  max-width: 1440px;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header__navigation_item {
  margin-right: 42px;
}

.header__navigation_item:last-child {
  margin-right: 0;
}

.navigation-link {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation-link:hover {
  text-decoration: underline;
}

/*header styles start*/

button {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  width: 228px;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
}

.button__login {
  width: 103px;
  height: 41px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 21px;
}

/*section preview styles start*/
.preview {
 /* background: url(./assets/img/up.jpg) no-repeat; удалить, если нормально остальные секции встанут
  height: 765px;
   top: -90px;
  z-index: -1;*/
  max-width: 1440px;
  position: relative;
}

.preview__plan { 
  width: 892px;
  height: 422px;
  position: absolute;
  left: 120px;
  top: 122px;

}

.preview__plan_title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;

}

.preview__plan_text{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 723px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 224px;
}

.plan_search {
  position: absolute;
  width: 892px;
  height: 95px;
  left: 0px;
  top: 294px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.plan_search_text {
  background-color: transparent;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  margin: 32px 291px 41px 41px;
}

.plan_search_text::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

/*section preview styles end  */

/*footer style start*/

.footer {
  height: 61px;
  margin-top: -61px;
  
}
.footer__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 729px;
  position: relative;
  left: 590px;
}

.footer__container_text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

}

.icon{
  display: inline-block;
  margin-right: 20px;
}

.icon:last-child{
  margin-right: 0;
}


/*footer style end*/