/*  reset styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   scroll-behavior: smooth;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
ul li{list-style: none;}

/*h1,h2,h3,h4,h5,h6{font-size:inherit;}*/


/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/aleo-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/aleo-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./assets/fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.allwrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background: url(./assets/img/up.jpg) no-repeat, url(./assets/img/Rectangle_27.jpg) no-repeat bottom;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.content {
  padding-bottom: 61px;
  position: relative;
  z-index: 2;
}

/*header style start*/
.header__container {
  max-width: 1440px;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header__navigation_item {
  margin-right: 42px;
}

.header__navigation_item:last-child {
  margin-right: 0;
}

.navigation-link {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.navigation-link:hover {
  color: #0D606F;;
  transition: all 1s ease;
}

/*header styles start*/

button {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  width: 228px;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
  transition: 1s ease;
}

button:hover {
  box-shadow: none;
  transition: 1s ease;
}

.button__login {
  width: 103px;
  height: 41px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 21px;
}
.button__login:hover{
  transform:scale(0.9);
}


/*section preview styles start*/
.preview {
  max-width: 1440px;
  position: relative;
  margin-bottom: 253px;
}

.preview__plan { 
  width: 892px;
  height: 422px;
  position: relative;
  margin-left: 120px;
  margin-top: 32px;
}

.preview__plan-title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview__plan_text{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 723px;
  height: 24px;
  margin-bottom: 48px;
  margin-top: 31px;
}

.plan_search {
  position: relative;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.plan_search_button:hover {
  transform:scale(0.9);
}

.plan_search_text {
  background-color: transparent;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  margin-top: 32px;
  margin-bottom: 41px;
  margin-left: 41px;
  margin-right: 66px;
  min-width: 60%;
}

.plan_search_text::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

/*section preview styles end  */

/*section steps styles start */
.steps {
  max-width: 1440px;
  max-height: 424px;
  padding: 50px 132px 97px 131px;
}

.steps__container {
  width: 1177px;
  height: 247px;
}

h2 {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  text-transform: uppercase;
}
 
.steps__container-icons {
  width: 1177px;
  height: 154px;
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 154px;
}

.icon-item:nth-child(2){
padding-left: 80px;
}

.icon-item__text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

 /*section steps styles end  */

 /*section destinations styles start */
.destinations {
  width: 2520px;
  height: 1042px;
  position: relative;
  left: -540px;
}

.destinations__container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.destinations__button {
  margin-left: 605px;
}

.destinations__button-decor, .stories__button-decor {
  background-image: url(./assets/icons/bi_arrow-right.svg);
  background-position: 31px 9.5px;
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.destinations__button-decor:hover, .stories__button-decor:hover{
  transform:scale(0.9);
}

.destinations__container-title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.destinations__slider {
  width: 2520px;
  height: 800px;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
  left: -540px;
  display: flex;
  flex-direction: row;
}

.slider-image-box {
  position: relative;
}

.slider-image-title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  position: relative;
  top: -82px;
  left: 15px;
  text-transform: uppercase;
}

.slider-image {
  background: url(.jpg), #FFFFFF;
  border-radius: 16px;
  margin-right: 60px;
  display: block;
}

.slider-image:last-child {
  margin-right: 0;
}

.slider__checker {
  height: 20px;
  margin: 0 auto;
  width: 88px;
  margin-bottom: 40px;
}

.checker-1, .checker-2, .checker-3 {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.checker-2 {
  background: rgba(242, 120, 92, 1);
}

.checker-3 {
  margin-right: 0px;
}
/*section destinations styles end  */

.stories__container {
  width: 1200px;
  height: 1322px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -110px;
  margin-left: 119px;
}

.stories__container-title {
  padding-top: 25px;
  margin-bottom: 55px;

}

.stories-items {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  color: #0D606F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stories-bg {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 1440px;
  height: 1270px;
  position: relative;
  margin-top: 160px;
}

.stories-items__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 8px;
}

.stories-items__title {
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-top: 5px;
}

.stories-items__img {
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  max-width: 400px;
  margin-right: 36px;
}

.more, .more:visited {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-weight: bold;
  color: #0D606F;
}

.more:hover {
  color: #F2785C;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-weight: bold;
}

.stories__button {
  position: relative;
  top: 25px;
  margin: 0 auto;

}

/*footer style start*/

.footer {
  min-height: 61px;
  margin-top: -61px;
  position: relative;
  z-index: 2;
}

.footer__container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 729px;
  position: relative;
  margin-top: 15px;
  margin-left: 560px;
}

.footer__container_text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 18px;
}

.icon__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.icon__list-element{
  margin-right: 20px;
}

.icon__list-element:last-child{
  margin-right: 0;
}

/*footer style end*/